@import '../../../global/app';
@import '../../../global/profile';

.profile-photo {
    border-radius: 50%;
    height: 175px;
    width: 175px;
}

.skill-pill {
    background-color: $blue-dianne;
    border-radius: 15px;
    color: white;
    font-size: .9rem;
    min-width: 4rem;
    padding: 5px 10px;
    text-align: center;
}

.placeholder {
    border-radius: 3px;
    text-align: center;
    padding: 3rem 2rem;
    color: #6c7892;
    display: block;
}

.education:last-child,
.experience:last-child {
    hr {
        display: none;
    }
}

.container:last-child {
    padding-bottom: 3 * $padding-base;
}