@import '../../../global/app';
@import '../../../global/profile';

.profile-photo {
    border-radius: 50%;
}

.skill-pill {
    background-color: $blue-dianne;
    color: white;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.placeholder {
    border-radius: 3px;
    text-align: center;
    padding: 3rem 2rem;
    color: #6c7892;
    display: block;
}

.education:last-child,
.experience:last-child  {
    hr {
        border-color: transparent;
    }
}

.container:last-child {
    padding-bottom: 3 * $padding-base;
}