@import '../../../global/app';
@import '../../../global/profile';

.profile-photo {
    border-radius: 50%;
}

.skill-pill {
    background-color: $blue-dianne;
    color: white;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}