/* Maps component color names to the color names */
@import './colors.scss';

/* EXAMPLE */

/* Navbar */

/* Login */
$login-primary: $blue-dianne;
$login-gradient-1: $elephant;
$login-gradient-2: $chathams-blue;
$login-warning: $gold;

$padding-base: 1rem;

$small-screen: 576px;
