/* Map color name to Hex */

$blue-ribbon: #0066FF;
$gallery: #ededed;
$tundora: #424242;
$whisper: #f5f5fA;
$pickled-bluewood: #2d3c55;

$blue-dianne: #213b4f;
$chathams-blue: #153c8a;
$elephant: #10304a;

$gold: #ffd700;
$scarlet: #FF2400;