<div class="card filter-card" id="form-filter">
    <h4> Form Filters </h4>
    <form #search="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-3 col-sm-6 col-xs-12">
                <label for="employment-type">Employment Type</label>
                <div id="employment-type">
                    <div class="form-check" *ngFor="let ept of employmentTypes; let i = index">
                        <input class="form-check-input" type="checkbox" name="employment-type" id="{{ept.value}}" value="{{ept.value}}" [(ngModel)]="employmentTypes[i].checked">
                        <label class="form-check-label" for="{{ept.value}}">
                            {{ept.value}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-xs-12">
                <label for="experience-level">Experience Level</label>
                <div id="experience-level">
                    <div class="form-check" *ngFor="let exp of experienceLevels; let i = index">
                        <input class="form-check-input" type="checkbox" name="experience-level" id="{{exp.value}}" value="{{exp.value}}" [(ngModel)]="experienceLevels[i].checked">
                        <label class="form-check-label" for="{{exp.value}}">
                            {{exp.value}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-xs-12">
                <label for="education-level">Education Level</label>
                <div id="education-level">
                    <div class="form-check" *ngFor="let edu of educationLevels">
                        <input class="form-check-input" type="radio" name="education-level" id="{{edu}}" value="{{edu}}" [(ngModel)]="educationLevel">
                        <label class="form-check-label" for="{{edu}}">
                            {{edu}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3 col-sm-6 col-xs-12">
                <label for="date-posted">Date Posted</label>
                <div id="date-posted">
                    <div class="form-check" *ngFor="let dp of datePosted">
                        <input class="form-check-input" type="radio" name="date-posted" id="{{dp}}" value="{{dp}}" [(ngModel)]="date">
                        <label class="form-check-label" for="{{dp}}">
                            {{dp}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-link">Cancel</button>
            <button type="submit" class="btn btn-primary">Apply</button>
        </div>
    </form>
</div>

<div *ngIf="searchService.filteredJobs.length; else checkJobResults">
    <ul class="list-group list-group-flush">
        <li *ngFor="let result of searchService.filteredJobs" class="list-group-item list-group-item-action" (click)="navigateToJobPage(result.jobId)">
            <div class="row">
                <div class="col-1">
                    <img class="inline-image" src="../../../assets/dog-butt.png">
                </div>
                <div class="col">
                    {{ job.jobTitle }}
                    <br>
                    {{ job.enterpriseId }}
                </div>
            </div>
        </li>
    </ul>
</div>
<ng-template #checkJobResults>
    <div *ngIf="searchService.searchJobsResult.length; else noJobResults">
        <ul class="list-group list-group-flush">
            <li *ngFor="let result of searchService.searchJobsResult" class="list-group-item list-group-item-action" (click)="navigateToJobPage(result.jobId)">
                <div class="row">
                    <div class="col-1">
                        <img class="inline-image" src="../../../assets/dog-butt.png">
                    </div>
                    <div class="col">
                        {{ job.jobTitle }}
                        <br>
                        {{ job.enterpriseId }}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</ng-template>
<ng-template #noJobResults>
    <div class="alert alert-light" role="alert">
        No Jobs Found
    </div>
</ng-template>