<div class="container card">
    <div class='d-inline-block'>
        <div class="float-left">
            <div class="h1"> Posted Jobs </div>
            <div class="text-secondary"> Click on a job posting to edit the details. </div>
        </div>
        <a class="btn btn-success float-right" routerLink="/dashboard/job">Create a new Job Posting </a>
    </div>
    <div class="list-group mt-3">
        <a routerLink="/dashboard/job/{{job.jobId}}" class="list-group-item list-group-item-action" *ngFor="let job of jobsList">
            <div class="row">
                <div class="col-md-5 col-xs-12"> {{job.jobTitle}}</div>
                <div class="col-md-4 col-xs-12">
                    <span class="d-inline" *ngIf="(job)?.city"> {{ (job)?.city + ', ' | titlecase}} </span>
                    <span class="d-inline" *ngIf="(job)?.province"> {{ (job)?.province + ', '| titlecase}} </span>
                    <span class="d-inline" *ngIf="(job)?.country"> {{ (job)?.country| titlecase}}</span>
                </div>
                <div class="col-md-3 col-xs-12"> {{job.postedDate.split('T')[0]}} </div>
            </div>
        </a>
    </div>

</div>