<ng-template #content let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="enterprise-title-section">Update your Enterprise Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="enterprise-name">Enterprise Name</label>
        <input name="enterprise-name" type="text" class="form-control" id="enterprise-name" placeholder="Enterprise Name"
          [(ngModel)]="enterpriseName">
      </div>
      <div class="form-group">
        <label for="enterprise-headline">Headline</label>
        <textarea name="headline" class="form-control" id="enterprise-headline" rows="3" [(ngModel)]="headline"></textarea>
      </div>
      <div class="form-group">
        <label for="enterprise-email">Email Address</label>
        <input name="email" type="text" class="form-control" id="enterprise-email" placeholder="john.smith@email.com"
          [(ngModel)]="email">
      </div>
      <label for="password-change">Change Your Password</label>
      <div id="password-change">

        <div class="form-row">

          <div class="form-group col">
            <!-- <label for="enterprise-old-pw">Current Password</label> -->
            <input name="current-password" type="password" class="form-control" id="enterprise-old-pw" placeholder="Current Password"
              [(ngModel)]="currPassword">
          </div>
          <div class="form-group col">
            <!-- <label for="enterprise-new-pw">New Password</label> -->
            <input name="new-password" type="password" class="form-control" id="enterprise-new-pw" placeholder="New Password"
              [(ngModel)]="newPassword">
          </div>
          <div class="form-group col">
            <!-- <label for="enterprise-confirm-pw">Confirm New Password</label> -->
            <input name="confirm-password" type="password" class="form-control" id="enterprise-confirm-pw" placeholder="Confirm New Password"
              [(ngModel)]="newConfirm">
          </div>
        </div>
      </div>

      <div id="image-upload">
        <div class="form-row">
          <div class="form-group col">
              <label style="display: block" for="profilePicture">Profile Picture</label>
              <input 
                accept="image/*"
                name="profilePicture"
                style="display: none" 
                type="file" (change)="onProfilePictureChanged($event)" 
              #profilePicture>
            <button class="btn btn-info" (click)="profilePicture.click()">Select Image</button>
          </div>
          <div class="form-group col">
            <label style="display: block" for="coverPhoto">Cover Photo</label>
            <input
              accept="image/*"
              name="coverPhoto" 
              style="display: none" 
              type="file" (change)="onCoverPhotoChanged($event)" 
            #coverPhoto>
            <button class="btn btn-info" (click)="coverPhoto.click()">Select Image</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" (click)="d('Save click')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="onSubmit();">Submit Changes</button>
  </div>
</ng-template>

<fa-icon class="edit" [icon]="['far', 'edit']" size="lg" (click)="open(content)"></fa-icon>