<div class="container title-section">
  <div class="cover-photo" [style.backgroundImage]="'url(src=../../../../../assets/petco.jpg)'"></div>
  <img class="profile-photo" src="../../../assets/dog-butt.png">
  <div class="card card-move-up title-section">
    <div class="section-header">
      <div class="section-title h1">
        {{ (enterprise)?.enterpriseName || 'test' }}
      </div>
      <div class="section-edit">
        <app-enterprise-title-section-modal></app-enterprise-title-section-modal>
      </div>
    </div>
    <p>{{ (enterprise)?.headline || 'test' }}</p>
  </div>
</div>

<div class="container information-container">
  <div class="card information-card">
    <div class="section-header">
      <div class="h4 section-title pb-3">About Us</div>
      <div class="section-edit">
        <app-enterprise-fast-facts-section-modal></app-enterprise-fast-facts-section-modal>
      </div>
    </div>
    <p>{{ (enterprise)?.enterpriseDescription }}</p>

    <div class="h4 section-title pb-3">Company Details</div>
    <p class="mb-1"><strong>Headquarters</strong></p>
    <p class="text-secondary mb-2">{{ (enterprise)?.headquarters || 'Not listed...' }}</p>
    <p class="mb-1"><strong>CEO</strong></p>
    <p class="text-secondary mb-2">{{ (enterprise)?.ceo || "Not listed..." }}</p>
    <p class="mb-1"><strong>Headquarters</strong></p>
    <p class="text-secondary mb-2">{{ (enterprise)?.industry || "Not listed..." }}</p>
  </div> 
</div>
