@import '../../../global/app';
@import '../../../global/profile';

.headline {
    margin-left: -195px;
}

.profile-photo {
    height: 175px;
    width: 175px;
}

.information-container:last-child {
    margin-bottom: 2rem;
}