@import '../../../global/app';

.card {
    padding: 20px;
}

.company-profile-photo {
    background-color: white;
    height: 150px;
    max-width: 200px;box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.05);
}

.section-edit {
    margin-top: 1rem;
}