<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img class="company-profile-photo d-inline" src="{{ (enterprise)?.profilePicture }}">
            </div>
            <div class="col-md col-sm-12">
                <h4>{{ (job)?.jobTitle || 'Unavailable job title...'  | titlecase}}</h4>
                <br>
                <h5> {{ (enterprise)?.enterpriseName || 'Unavailable Enterprise...' | titlecase }}</h5>
                <h5 class="d-inline" *ngIf="(job)?.city"> {{ (job)?.city + ',' | titlecase}}</h5>
                <h5 class="d-inline" *ngIf="(job)?.province"> {{ ((job)?.province.length <= 2) ? ((job)?.province | uppercase) : ((job)?.province | titlecase) }},</h5>
                <h5 class="d-inline" *ngIf="(job)?.country"> {{ ((job)?.country.length <= 2) ? ((job)?.country | uppercase) : ((job)?.country | titlecase) }}</h5>
            </div>
            <div class="col-md-3 col-sm-12 text-right">
                <a *ngIf="(job)?.jobUrl" href={{(job)?.jobUrl}} class="btn btn-primary" role="button" target="_blank"> Apply Externally </a>
                <div *ngIf="isCurrentEnterprise" class="section-edit">
                    <app-job-modal (jobUpdated)="onJobUpdate($event)"></app-job-modal>
                </div>
            </div>
            
        </div>
        <hr>
        <div class="row" *ngIf="(job)?.employmentType || (job)?.experienceLevel || (job)?.educationLevel || (job)?.postedDate || (job)?.salary">
            <div class="col-md col-xs-12" *ngIf="(job)?.employmentType">
                <h6> Employment Type </h6>
                <div class="text-secondary"> {{ (job)?.employmentType | titlecase}} </div>
            </div>
            <div class="col-md col-xs-12" *ngIf="(job)?.experienceLevel">
                <h6> Experience Level </h6>
                <div class="text-secondary"> {{ (job)?.experienceLevel | titlecase}} </div>
            </div>
            <div class="col-md col-xs-12" *ngIf="(job)?.educationLevel">
                <h6> Education Level </h6>
                <div class="text-secondary"> {{ (job)?.educationLevel | titlecase}} </div>
            </div>
            <div class="col-md col-s-12" *ngIf="(job)?.postedDate">
                <h6> Date Posted </h6>
                <div class="text-secondary"> {{ (job)?.postedDate.split('T')[0] | titlecase}} </div>
            </div>
            <div class="col-md col-s-12" *ngIf="(job)?.salary">
                <h6> Salary </h6>
                <div class="text-secondary"> {{ (job)?.salary }} </div>
            </div>
        </div>
        <hr>
        <div class="h5">Job Description</div>
        <h6>
                {{ (job)?.jobDescription|| 'No job description provided' }}
        </h6>
    </div>
    <div *ngIf="isCurrentEnterprise" class="card mt-2 text-center p-0">
        <app-job-delete-modal></app-job-delete-modal>
    </div>
</div>
