<div *ngIf="searchService.searchEnterpriseResult.length; else noEnterpriseResults">
  <ul class="list-group list-group-flush">
    <li *ngFor="let result of searchService.searchEnterpriseResult" class="list-group-item list-group-item-action" (click)="navigateToEnterpriseProfile(result.username)">
      <div class="row">
        <div class="col-1">
          <img class="inline-image" src="{{ result.profilePicture }}">
        </div>
        <div class="col">
          <a>
            {{ result.enterpriseName }}
            <br>
            {{ result.industry }}
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
<ng-template #noEnterpriseResults>
  <div class="alert alert-light" role="alert">
    No Enterprises Found
  </div>
</ng-template>