<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="row">
      <div class="col-1">
        <img class="inline-image" src="../../../assets/dog-butt.png">
      </div>
      <div class="col">
        Petco
        <br>
        Food & Drugs
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-1">
        <img class="inline-image" src="../../../assets/dog-butt.png">
      </div>
      <div class="col">
        Petco
        <br>
        Food & Drugs
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-1">
        <img class="inline-image" src="../../../assets/dog-butt.png">
      </div>
      <div class="col">
        Petco
        <br>
        Food & Drugs
      </div>
    </div>
  </li>
</ul>