<div class="admin-container">
  <div class="admin-top">
    <div class="row">
      <div class="admin-top-left col-lg-4 col-sm-12">
        <p>
          Users Joined This Week
        </p>
      </div>
      <div class="admin-top-right col-lg-4 col-sm-12">
        <p>
          Active users this week
        </p>
      </div>
    </div>
  </div>
  <div class="admin-bottom">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name/Enterprise</th>
          <th scope="col">User ID</th>
          <th scope="col">Date Joined</th>
          <th scope="col">Email</th>
          <th scope="col">Account Type</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Smith</td>
          <td>1</td>
          <td>11-20-2018</td>
          <td>abc@hello.com</td>
          <td>Enterprise</td>
          <td>
            <a>Delete</a>
          </td>
        </tr>
        <tr class="table-danger">
            <td>Abigail Adams</td>
            <td>2</td>
            <td>1-10-2260</td>
            <td>aa@aol.com</td>
            <td>Candidate</td>
            <td>
              <a>Delete</a>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>