.admin-top {
    height: 50%;
    width: 100%;
    top: 0;
}

.admin-bottom {
    height: 50%;
    width: 100%;
    bottom: 0;
}

.admin-top-left {
    height: 100%;
    width: 50%;
    left: 0;
}

.admin-top-right {
    height: 100%;
    width: 50%;
    right: 0;
}