@import '../../../global/app';

.create-account-container {
    .create-warning-message {
        color: $create-warning;
    }
    .add-padding {
        padding-right: 15px;
    }

    .card {
        padding: 20px;
    }
}