<div *ngIf="searchService.searchCandidateResult.length; else noCandidateResults">
  <ul class="list-group list-group-flush">
    <li *ngFor="let result of searchService.searchCandidateResult" class="list-group-item list-group-item-action" (click)="navigateToCandidateProfile(result.username)">
      <div class="row">
        <div class="col-1">
          <img class="inline-image" src="{{ result.profilePicture }}">
        </div>
        <div class="col">
          <a>
            {{ result.fullName }}
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
<ng-template #noCandidateResults>
  <div class="alert alert-light" role="alert">
    No Candidates Found
  </div>
</ng-template>