<div class="login-container row">

  <div class="col d-none d-md-block" id="background-div"></div>

  <div class="col login-panel">
    <div class="container">
      <h1>Log in to inLinked</h1>
      <form #login="ngForm">
        <div class="form-group">
          <label for="user-email">Email</label>
          <input type="text" class="form-control" id="user-email">
        </div>
        <div class="form-group">
          <label for="user-password">Password</label>
          <input type="password" class="form-control" id="user-password">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
      </form>
    </div>
  </div>
</div>